div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body")
    .m-edit: .has-tips.manual(ld="error-root")
      .ldrs.tone(ld="slider")
      .hover-tip.tip-sm: div(ld-each="error")
    .m-view: div(ld="content")
